.pizza-item {
    width: 30%;
    align-items: center;
}

.menu-item {
    width: 400px;
    align-items: center;
    font-size: larger;
    font-weight: bold;
    text-align: center;
}

.menu-item:hover {
    cursor: pointer;
}

.menu {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

.offers {
    display: flex;
}

.offer-item {
    padding: 20px;
    width: 25%;
}

.cart {
    width: 35%;
    background: #cccccc;
}

.cart-item {
    background: antiquewhite;
    border-bottom: solid 1px cadetblue;
}